html body{
	height: 100%;
	width: 100%;
	margin: 0;
}
body{
	background: url(Images/fond.png);
}
#bloc_page{
	width: 100%;
	display: flex;
}
#lisere{
	height: 804px;
	background: url(Images/lisere.png) repeat;
	width:10%;
	margin:0;
	border-radius: 5px;
	border: 2px solid rgb(148, 44, 4)	
}
#contenu{
	width: 90%;
	bottom:0;
	top:0;
	right:0;
}
section{
	display: flex;
}